<ul>
    <% @movies.each do |movie| %>
        <li>
            <strong><%= movie.title %></strong>
            <p>
                Synopsis: <i><%= truncate(movie.description, length: 35, separator: " ")  %></i>
            </p>
            <p>
                Rating: (<%= movie.rating %>)
            </p>
            <p>
                Box Office: <%= total_gross(movie) %>
            </p>
            <p>
                Release Date: <i><%= year_of(movie) %></i>
            </p>
        </li>
        <% end %>
</ul>