<% @movies.each do |movie| %>
    <section class="movie">
        <div class="image">
            <%= link_to image_tag(movie.image_file_name), movie_path(movie) %>
        </div>
        <div class="summary">
            <h2><%= link_to movie.title, movie_path(movie) %></h2>
            <p>
                Synopsis: <i><%= truncate(movie.description, length: 35, separator: " ")  %></i>
            </p>
            <h3>
                Director: <%= movie.director %>
            </h3>
            <h3>
                Duration: <%= movie.duration %>
            </h3>
            <h3>
                Box Office: <%= total_gross(movie) %>
            </h3>
            <h3>
                Released on: <%= movie.released_on %>
            </h3>
        </div>
    </section>
<% end %>
<section class="admin">
    <%= link_to "Add new movie", new_movie_path, class: "button" %>
</section>