<section class="movie-details">
    <div class="image">
        <%= image_tag @movie.image_file_name %>
    </div>
    <div class="summary-details">
        <h2><%= @movie.title %></h2>
        <p>
            Synopsis: <i><%= @movie.description  %></i>
        </p>
        <h3>
            Director: <%= @movie.director %>
        </h3>
        <h3>
            Duration: <%= @movie.duration %>
        </h3>
        <h3>
            Rating: <%= @movie.rating %>
        </h3>
        <h3>
            Release year: <%= year_of(@movie) %>
        </h3>
        <h3>
            Box Office: <%= total_gross(@movie) %>
        </h3>
    </div>
</section>

<section class="admin">
    <%= link_to "Edit movie", edit_movie_path(@movie), class: "button" %>
    <%# override method with turbo_method to delete resource %>
    <%= link_to "Delete movie", movie_path(@movie), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "button" %>
</section>