<section class="movie-details">
    <div class="summary-details">
        <h2><%= @movie.title %></h2>
        <p>
            Synopsis: <i><%= @movie.description  %></i>
        </p>
        <h3>
            Release year: <%= year_of(@movie) %>
        </h3>
        <h3>
            Box Office: <%= total_gross(@movie) %>
        </h3>
    </div>
</section>

<section class="admin">
    <%= link_to "Edit movie", edit_movie_path(@movie), class: "button" %>
</section>