<h2>Reviews for <%= link_to @movie.title, movie_path(@movie) %></h2>
<% if @reviews.count > 0 %>
    <ul class="reviews">
        <% @reviews.each do |review| %>
            <li>
                <%= render "shared/stars", percent: review.stars_as_percent %> 
                <p>
                    <%= review.name %>
                    <span class="date">
                        Review created <%= time_ago_in_words(review.created_at) %> ago
                    </span>
                </p>
                <p>
                    <i><%= review.comment %></i>
                </p>
                <%= link_to "Edit review", edit_movie_review_path(review.movie, review), class: "button" %>
                <%# movie_review_path requires two args for the associated movie id and the review id %>
                <%= link_to "Delete review", movie_review_path(review.movie, review), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete review?"}, class: "button" %>
            </li>
        <% end %>
    </ul>
<% else %>
    <p>Oh no! There are no reviews yet for this movie. Please check again later...</p>
<% end %>

<%= link_to "Go back to #{@movie.title}", movie_path(@movie) %>