<!DOCTYPE html>
<html>
  <head>
    <title>All Flix No Chill</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
    <nav>
      <%# <img src="app/assets/images/logo.png" alt="Flix logo"> %>
      <%= link_to image_tag("all_flix_logo.png"), root_path %>
      <ul>
        <li><%= link_to "All movies", movies_path %></li>
      </ul>
    </nav>
    </header>

    <div class="content">
      <%= yield %>
    </div>

    <footer>
      <p>
        Copyright © <%= Time.now.year %>
        <%= link_to "All Flix No Chill", "https://nomads-test-store.netlify.app/"%>
      </p>
    </footer>

  </body>
</html>
